
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
	<script src="~/Scripts/Built/common.js"></script>
	@*<script src="~/Scripts/Built/common_bundle.js"></script>*@
	<script src="~/Scripts/Built/main_bundle.js"></script>
}

<div id="mydiv"></div>