<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>@ViewBag.Title</title>
</head>
<body>
<div>
	@RenderBody()
</div>
@*<script src="~/Scripts/Libs/jquery-2.1.4.js"></script>*@
@RenderSection("Scripts", false)
</body>
</html>